.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    min-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    border-bottom-left-radius: 60% 40%;
    border-bottom-right-radius: 60% 40%;
    color: white;
}

@media screen and (max-width: 768px) {
    .header {
        height: 45vh !important;
    }
}
