.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    width: 100%;
    border-bottom-left-radius: 60% 40%;
    border-bottom-right-radius: 60% 40%;
    color: white;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contentContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
    margin: auto;
}

.textContainer {
    width: 40%;
    margin-top: -5vh;
    margin-right: 10px;
    text-align: center;
}

/* Media queries */

@media screen and (max-width: 768px) {
    .header {
        height: 45vh;
    }
    .textContainer{
        width: 80%;
    } 
     .textContainer h1{
        font-size: 20px !important;
    }
    .textContainer p{
        font-size: 16px !important;
    }
}


@media screen and (min-width: 768px) {
    .titleHeader {
        font-size: 40px;
    }

    .subHeader {
        font-size: 24px;
    }

}