.BFlex {
    display: flex;
    margin: auto;
  }
  
  .leftContainer {
    flex: 2;
    padding-right: 100px;
    padding-top: 30px;
    padding-left: 30px;
    border-radius: 30px;
  }
  
  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120%;
    width: 120%;
    max-width: 340px;
    position: absolute;
    left: -50px;
     top:-30%;
     z-index: 99999;
     border-top-left-radius:100% 50% ;
     border-top-right-radius: 100% 50% ;
     border-bottom-left-radius: 100% 50% ;
     border-bottom-right-radius: 100% 50% ;
     overflow: hidden; /* Cache le débordement de l'image arrondie */
  }
  .image2 {
    background: linear-gradient(to bottom left, #004C97, #EC1C24);
    height: 120%;
    width: 120%;
    max-width: 340px;
    position: absolute;
     top:-25%;
     left: -30px;
     border-top-left-radius:100% 50% ;
     border-top-right-radius: 100% 50% ;
     border-bottom-left-radius: 100% 50% ;
     border-bottom-right-radius: 100% 50% ;
     overflow: hidden; /* Cache le débordement de l'image arrondie */
  }
  .rightContainer {
    flex: 1; 
    position: relative;
  }
  .customlist {
    list-style-type: none; /* Désactive les puces par défaut */
    padding-left: 0; /* Supprime le retrait par défaut de la liste */
  }
  
  .customlist li::before {
    content: "- "; /* Ajoute un tiret suivi d'un espace avant chaque élément */
    display: inline-block; /* Fait en sorte que le tiret soit affiché en ligne avec le texte */
    width: 1em; /* Ajuste la largeur de l'espace entre le tiret et le texte */
    margin-left: -1em; /* Compense la largeur ajoutée pour aligner correctement le texte */
  }
  