
.conteneur {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; /* Pour éviter des espaces inattendus */
}

.conteneur img {
    width: 50%; /* Pour prendre la moitié de la largeur du conteneur */
    transition: transform 0.3s, box-shadow 0.3s; /* Animation douce pour l'agrandissement et l'ombre */
}

.conteneur img:hover {
    transform: scale(1.1); /* Agrandit l'image de 10% */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    z-index: 1; /* Pour s'assurer que l'image agrandie se trouve au-dessus des autres images */
}

.br {
    flex-basis: 100%; /* Pour forcer le retour à la ligne après les 2 premières images */
}
.contglob{
    width:80%;
    margin: auto;
    position: relative;
}
.contglob1{
    position: absolute;
    top:50;
    width: 100%;
}
.img1{
    border-top-left-radius: 50px;
}
.img2{
    border-top-right-radius: 50px;
}
.img3{
    border-bottom-left-radius: 50px;
}
.img4{
    border-bottom-right-radius: 50px;
}
