/* Réinitialisation des marges et des rembourrages pour tous les éléments */
* {
    margin: 0;
    padding: 0;
}

/* Styles de largeur */
.width2 {
    width: 80%;
}

/* Styles spécifiques aux tablettes (768px <= largeur < 1024px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .width2 {
        width: 96%;
    }
}

/* Styles mobiles (largeur <= 767px) */
@media screen and (max-width: 767px) {
    .width2 {
        width: 96%;
    }
}

/* Styles pour le conteneur d'images */
.conteneur {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* Styles pour les images dans le conteneur */
.conteneur img {
    width: 50%;
    height: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Styles d'agrandissement au survol */
.conteneur img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    z-index: 99999999999999;
}

/* Style pour forcer le retour à la ligne après les 2 premières images */
.br {
    flex-basis: 100%;
}

/* Styles de bordure arrondie pour les images */
.img1 {
    border-top-left-radius: 50px;
}

.img2 {
    border-top-right-radius: 50px;
}

.img3 {
    border-bottom-left-radius: 50px;
}

.img4 {
    border-bottom-right-radius: 50px;
}
