/* Réinitialisation des marges et des rembourrages pour tous les éléments */
* {
    margin: 0;
    padding: 0;
}

.blueColor {
    color: #004C97;
}

/* Styles de largeur */
.width2 {
    width: 80%;
}

/* Styles spécifiques aux tablettes (768px <= largeur < 1024px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .width2 {
        width: 96% !important;
    }
}

/* Styles mobiles (largeur <= 767px) */
@media screen and (max-width: 767px) {
    .width2 {
        width: 96% !important;
    }
    .brNone{
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    #offcanvasNavbarDropdown-expand-md {
        padding-top: 0;
        margin-top: 0;
    }
}
.dropdown-menu{
    background-color: red !important;
}