.gradientbox {
    background: linear-gradient(to bottom, #004C97, #EC1C24);
    width: 300px;
    height: 100%;
    margin: auto !important;
    text-align: center;
    color: white;
    padding: 30px 20px;
    /* Cela ajoutera de l'espace à l'intérieur de chaque div pour votre contenu. */
}

.rounded1 {
    border-bottom-left-radius: 60% 40%;
    border-bottom-right-radius: 60% 40%;
    border-top-left-radius: 60% 40%;
    border-top-right-radius: 60% 40%;
}

.contentbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centre les éléments horizontalement */
    gap: 15px;
}


/* Styles pour le conteneur d'images */
.conteneur {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* Styles pour les images dans le conteneur */
.conteneur img {
    width: 100% !important;
    height: 100% !important;
}
.contimg{
    width: 50% !important;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}
.conteneur .contimg:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    z-index: 99999999999999;
}
.Hovcontimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.para{
    display: none;
}
.Hovcontimg:hover{
    justify-content: center !important;
}
.Hovcontimg:hover .para{
    display: block !important;
}
/* Styles d'agrandissement au survol */
.conteneur img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    z-index: 99999999999999;
}

/* Style pour forcer le retour à la ligne après les 2 premières images */
.br {
    flex-basis: 100%;
}

/* Styles de bordure arrondie pour les images */
.img1 {
    border-top-left-radius: 50px;
}

.img2 {
    border-top-right-radius: 50px;
}

.img3 {
    border-bottom-left-radius: 50px;
}

.img4 {
    border-bottom-right-radius: 50px;
}