/* Base styles */
.gradientbox {
    background: linear-gradient(to bottom, #004C97, #EC1C24);
    width: 300px;
    height: 100%;
    margin: auto;
    text-align: center;
    color: white;
    padding: 30px 20px;
}

.rounded1 {
    border-bottom-left-radius: 70% 40%;
    border-bottom-right-radius: 70% 40%;
    border-top-left-radius: 70% 40%;
    border-top-right-radius: 70% 40%;
}

.contentbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.parentdiv {
    position: relative;
}

.firstchilddiv {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 0;
    z-index: 0;
    background-color: #004C97;
}

.secondchilddiv {
    z-index: 99;
    position: relative;
}

.headertext {
    color: white;
    z-index: 99;
    text-align: center;
    padding: 3rem;
    margin:0;
}

/* Image container styles */
.conteneur {
    width: 100%;
    z-index: 99;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.contimg {
    width: 50%;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.conteneur img {
    width: 100%;
    height: 100%;
}

.conteneur .contimg:hover,
.conteneur img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    z-index: 99999999999999;
}

.Hovcontimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.para {
    display: none;
}

.Hovcontimg:hover {
    justify-content: center;
}

.Hovcontimg:hover .para {
    display: block;
}

/* Media Queries */
@media screen and (max-width: 767px) {
    .para {
        display: none !important;
    }

    .Hovcontimg h1 {
        font-size: 20px;
    }
    .headertext {
        padding: 1rem;
    }
}

/* Additional styles */
.br {
    flex-basis: 100%;
}

/* Image border styles */
.img1 {
    border-top-left-radius: 50px;
}

.img2 {
    border-top-right-radius: 50px;
}

.img3 {
    border-bottom-left-radius: 50px;
}

.img4 {
    border-bottom-right-radius: 50px;
}